body {
     font-family: 'Playfair Display', serif;
     margin: 0;
}
 html {
     box-sizing: border-box;
}
 *, *:before, *:after {
     box-sizing: inherit;
}
 .column {
     float: left;
     width: 33.3%;
     margin-bottom: 16px;
     padding: 0 20px;
}
 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     margin: 8px;
}
 .card img {
     width: 100%;
     height: 200px;
}
 .about-section {
     padding: 50px;
     text-align: center;
     background-color: #474e5d;
     color: white;
}
 .container {
     padding: 0 16px;
     text-align: center;
}
 .container::after, .row::after {
     content: "";
     clear: both;
     display: table;
}
 .title {
     color: grey;
}
 .board-title{
     background-color: #f1f1f1;
     color: black;
     text-align: center;
     padding: 15px;
     margin: 10px  10px;
     margin-bottom: 10px;
     border-style: double;
     border-color: white;
     border-width: 7px;
     font-size: 25px;
}

 .footer {
     background-color: #f5f5f5;
     padding: 20px;
     text-align: center;
}
 .foot-1 {
     font-family: 'Playfair Display', serif;
     font-size: 16px;
     color: #333;
     font-weight: bold;
}
 .foot-2 {
     font-family: 'Playfair Display', serif;
     font-size: 14px;
     color: #333;
     font-weight: bold;
}
 .foot-3 {
     font-family: 'Playfair Display', serif;
     font-size: 10px;
     color: #333;
     font-weight: bold;
}

.contain {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  background-size: 100%;
  padding: 40px;
  justify-content: center;
  align-items: center;
  margin:20px 20px;
}

.text-45 {
  flex: 1;
  padding-right: 50px;
  line-height: 40px;
}

.text-46{
  font-family: 'Playfair Display', serif;
  line-height: 40px;
  background-color:white;
  color:black;
  padding:15px;
  border-radius: 20px;
  display: inline-block;
}

.text-47{
  padding:15px;
  font-family: 'Playfair Display', serif;
  line-height:2px;
  font-size:18px;
}

.image-48 {
  flex: 1;
}

.btn {
  display: block;
  margin: 20px 15px;
  padding: 8px 8px;
  font-size: 1.2em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size:15px;
  font-family: 'Playfair Display', serif;
}

.me-img{
  float: right;
  margin-left: 10px;
  width: 425px;
  height: 440px;
  border-radius: 25px;
}

.right {
  background-color: #f1f1f1;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 1.8;
  font-family: 'Playfair Display', serif;
}

.index-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.index-li {
  float: left;
}

.index-li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.index-li a:hover:not(.active) {
  background-color: white;
}

button{
  font-family: 'Playfair Display', serif;
  background-color: black;
  color: white;
  margin: 15px;
  padding: 10px;
  font-size: 12px;

 @media screen and (max-width: 650px) {
     .column {
         width: 100%;
         display: block;
    }
}
 