body {
     margin: 0;
     background: blue;
     background: linear-gradient(#4169E1, white);
     background-attachment: fixed;
	 font-family: 'Playfair Display', 'Lora', serif;
}
 html {
     box-sizing: border-box;
}
 *, *:before, *:after {
     box-sizing: inherit;
}
 .column {
     float: left;
     width: 33.3%;
     margin-bottom: 16px;
     padding: 0 20px;
}
 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     margin: 8px;
}
 .card img {
     width: 100%;
     height: 200px;
}
 .about-section {
     padding: 50px;
     text-align: center;
     background-color: #474e5d;
     color: white;
}
 .container {
     padding: 0 16px;
     text-align: center;
}
 .container::after, .row::after {
     content: "";
     clear: both;
     display: table;
}
 .title {
     color: grey;
}
 .board-title{
     background-color: #f1f1f1;
     color: black;
     text-align: center;
     padding: 15px;
     margin: 10px 10px;
     margin-bottom: 10px;
     border-style: double;
     border-color: white;
     border-width: 7px;
     font-size: 25px;
}
 .footer {
     background-color: #f5f5f5;
     padding: 20px;
     text-align: center;
}
 .foot-1 {
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 16px;
     color: #333;
     font-weight: bold;
}
 .foot-2 {
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 14px;
     color: #333;
     font-weight: bold;
}
 .foot-3 {
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 10px;
     color: #333;
     font-weight: bold;
}
 .contain {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 100%;
     padding: 20px;
     background-color: #f1f1f1;
}
 .text-45 {
     padding: 20px;
     line-height: 1.5;
     text-align: center;
}
 .text-46{
     font-family: 'Playfair Display', 'Lora', serif;;
     background-color:white;
     color:black;
     padding:10px;
     border-radius: 20px;
     display: inline-block;
}
 .text-47{
     padding:10px;
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 16px;
}
 .image-48 {
     margin-bottom: 20px;
}
 .btn {
     margin-top: 20px;
     padding: 10px 15px;
     font-size: 16px;
}
 .me-img{
     max-width: 80%;
     border-radius: 25px;
}
 .right {
     background-color: #f1f1f1;
     padding: 10px 15px;
     margin-top: 10px;
     margin-bottom: 20px;
     margin-left: 10px;
     margin-right: 10px;
     text-align: center;
     line-height: 1.8;
     font-family: 'Playfair Display', 'Lora', serif;
}
 #navbar-container{
     text-align: center;
     position: relative;
     width: 100%;
     float: left;
     background-color: white;
     overflow: hidden;
     margin-bottom: 20px;
}
 #navbar-container ul{
     left: 50%;
     margin: 0;
     padding: 0;
     position: relative;
     list-style-type: none;
     float: left;
}
 #navbar-container ul li{
     display: block;
     float: left;
     right: 50%;
     position: relative;
}
 #navbar-container ul li a{
     display: block;
     color: #4169E1;
     padding: 1em 2em;
     font-size: 1em;
     font-weight: bold;
     font-family: 'Playfair Display', 'Lora', serif;
}
 #navbar-container ul li a:hover{
     background-color: #8AC7DB;
}
 button{
     font-family: 'Playfair Display', 'Lora', serif;
     background-color: black;
     color: white;
     margin: 15px;
     padding: 10px;
     font-size: 12px;
}
 @media screen and (max-width: 650px) {
     .column {
         width: 100%;
         display: block;
    }
}
 @media only screen and (min-width: 768px) {
     .contain {
         flex-direction: row;
    }
     .text-45 {
         flex: 1;
         padding-right: 50px;
         line-height: 40px;
         text-align: left;
    }
     .image-48 {
         flex: 1;
         text-align: right;
         margin-right: 50px;
    }
}
 