/* About Us Page */
.body-about {
     margin: 0;
     background: blue;
     background: linear-gradient(#4169E1, white);
     background-attachment: fixed;
	 font-family: 'Playfair Display', 'Lora', serif;
	 box-sizing: border-box;
}
 *, *:before, *:after {
     box-sizing: inherit;
}
 .column-about {
     float: left;
     width: 33.3%;
     margin-bottom: 16px;
     padding: 0 20px;
}
 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     margin: 8px;
}
 .card img {
     width: 100%;
     height: 200px;
}
 .about-section {
     padding: 50px;
     text-align: center;
     background-color: #474e5d;
     color: white;
}
 .container-about {
     padding: 0 16px;
     text-align: center;
}
 .container-about::after, .row-about::after {
     content: "";
     clear: both;
     display: table;
}
 .title-about {
     color: grey;
}
 .board-title{
     background-color: #f1f1f1;
     color: black;
     text-align: center;
     padding: 15px;
     margin: 15px 10px;
     margin-bottom: 10px;
     border-style: double;
     border-color: white;
     border-width: 7px;
     font-size: 25px;
}
 .contain-about {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 100%;
     padding: 20px;
     background-color: #f1f1f1;
}
 .text-45 {
     padding: 20px;
     line-height: 1.5;
     text-align: center;
}
 .text-46{
     font-family: 'Playfair Display', 'Lora', serif;;
     background-color:white;
     color:black;
     padding:10px;
     border-radius: 20px;
     display: inline-block;
}
 .text-47{
     padding:10px;
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 16px;
}
 .image-48 {
     margin-bottom: 20px;
}
 .btn-about {
     margin-top: 20px;
     padding: 10px 15px;
     font-size: 16px;
}
 .me-img{
     max-width: 80%;
     border-radius: 25px;
}
 .right {
     background-color: #f1f1f1;
     padding: 10px 15px;
     margin-top: 10px;
     margin-bottom: 20px;
     margin-left: 10px;
     margin-right: 10px;
     text-align: center;
     line-height: 1.8;
     font-family: 'Playfair Display', 'Lora', serif;
}
 button{
     font-family: 'Playfair Display', 'Lora', serif;
     background-color: black;
     color: white;
     margin: 15px;
     padding: 10px;
     font-size: 12px;
}

/*Contact Us Page */
.body-contact {
     background: linear-gradient(to bottom, #4169E1, white);
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 16px;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
 .h1-contact {
     margin: auto;
     background-color: DodgerBlue;
     color: white;
     text-align: center;
     font-size: 2.25em;
     padding: 0.30em;
     display: block;
     position: relative;
     resize: vertical;
}
.contact-title {
     background-color: #f1f1f1;
     color: black;
     text-align: center;
     padding: 15px;
     margin-bottom: 5px;
     border-style: double;
     border-color: white;
     border-width: 7px;
     font-size: 20px;
     margin-top: 20px;
}
 .contact-title2 {
     background-color: #f1f1f1;
     color: black;
     text-align: center;
     padding: 15px;
     margin-bottom: 5px;
     border-style: double;
     border-color: white;
     border-width: 7px;
     font-size: 20px;
     margin-top: 70px;
}
 .right-contact {
     background-color: #f1f1f1;
     padding: 10px 15px;
     margin-top: 10px;
     margin-bottom: 20px;
     text-align: center;
     line-height: 1.8;
     font-family: 'Playfair Display', 'Lora', serif;
}
/* Form Styles */
 form {
     background-color: white;
     border-radius: 1.5rem;
     padding: 2rem;
     margin: 2rem auto;
     max-width: 700px;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
 form label {
     display: block;
     font-size: 1.1rem;
     margin-bottom: 0.5rem;
}
 form input, form textarea {
     width: 100%;
     padding: 0.5rem;
     margin-bottom: 1rem;
     border-radius: 0.5rem;
     border: none;
     font-size: 1rem;
     border: 1px solid DodgerBlue;
}
 form textarea {
     height: 10rem;
}
 form .cta-button[type="submit"] {
     background-color: DodgerBlue;
     color: white;
     padding: 0.5rem 1rem;
     border: none;
     border-radius: 0.5rem;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s ease;
     display: block;
     margin: 0 auto;
     width: 100%;
}
 form .cta-button[type="submit"]:hover {
     background-color: #1954a6;
}

/* Index Page */

/* Navigation Bar */
 #navbar-container{
     text-align: center;
     position: relative;
     width: 100%;
     float: left;
     background-color: white;
     overflow: hidden;
     margin-bottom: 20px;
}
 #navbar-container ul{
     left: 50%;
     margin: 0;
     padding: 0;
     position: relative;
     list-style-type: none;
     float: left;
}
 #navbar-container ul li{
     display: block;
     float: left;
     right: 50%;
     position: relative;
}
 #navbar-container ul li a{
     display: block;
     color: #4169E1;
     padding: 1em 2em;
     font-size: 1em;
     font-weight: bold;
     font-family: 'Playfair Display', 'Lora', serif;
     text-decoration: none;
}
 #navbar-container ul li a:hover{
     background-color: #8AC7DB;
}

/* Footer */
 .footer {
     background-color: #f5f5f5;
     padding: 20px;
     text-align: center;
}
 .foot-1 {
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 16px;
     color: #333;
     font-weight: bold;
     padding:1em;
}
 .foot-2 {
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 14px;
     color: #333;
     font-weight: bold;
}
 .foot-3 {
     font-family: 'Playfair Display', 'Lora', serif;
     font-size: 10px;
     color: #333;
     font-weight: bold;
}

/* Media Queries  */
 @media screen and (max-width: 767px) {
     .column-about {
         width: 100%;
         display: block;
    }
}
 @media only screen and (min-width: 736px) {
     .contain-about {
         flex-direction: row;
    }
     .text-45 {
         flex: 1;
         padding-right: 50px;
         line-height: 40px;
         text-align: left;
    }
     .image-48 {
         flex: 1;
         text-align: right;
         margin-right: 50px;
    }
     input[type="text"], input[type="email"], textarea {
         width: 60%;
    }
     form .cta-button[type="submit"] {
         font-size: 1em;
         width: 70%;
    }
     .foot-1, .foot-2, .foot-3 {
         text-align: center;
         margin-bottom: 0;
    }
}
 